---
---
@use "_sections-dir";

$base-font-family: 'Exo 2', sans-serif;
$body-font-family: 'Exo 2', sans-serif;
$code-font-family: "Exo 2", sans-serif;

$brand-color: #fff;

$container-width: 1100px;
$tablet-width: 600px;
$phone-width: 480px;

$header-thickness: 56px;

$icon-transition-time: 0.1s;
$flickr-color: #0063dc;
$steam-color: #90ba3c;
$envelope-color: #f39c12;
$twitter-color: #00aced;
$x-twitter-color: #00aced;
$instagram-color: #375989;
$github-color: #343434;
$linkedin-color: #0073a4;
$facebook-color: #3d5b99;
$google-color: #e64a41;
$pinterest-color: #bd081c;
$medium-color: #00AB6C;
$codepen-color: black;
$rss-color: #ff6600;
$clock: #fff;
$clock-rotate-left-color: #fff;

ul li, ol li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
  color: #fff;
}