---
layout: default
---

{% assign banner_pic = page.banner-image | default: page.card-image %}
{% assign banner_url = page.images[banner_pic] %}
{% assign banner_image_url = banner_url | prepend: 'https://wsrv.nl/?h=1080&url=' %}

<style>
    .banner {
        background-image: url('{{ banner_image_url }}');
        background-size: cover;
        background-position: right 0px bottom {{ page.banner-offset | default: 0 }}%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        transition: background-position 0.5s ease-in-out, height 0.3s ease;
    }

    .banner-text {
        text-align: center;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    @media (max-width: 767px) {
        .banner {
            height: 200px;
        }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        .banner {
            height: 250px;
        }
    }

    @media (min-width: 1200px) {
        .banner {
            height: 400px;
        }
    }

    #background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #1c1c1e; /* Fallback dark color */
        transition: background 0.5s ease-in-out;
    }

    /* Spinner styling */
    .spinner {
        border: 6px solid rgba(255, 255, 255, 0.3);
        border-top: 6px solid #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -20px;
        z-index: 1000;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .pig-wrapper img {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .pig-wrapper img:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
</style>

<!-- Background element -->
<div id="background"></div>

<!-- Loading Spinner -->
<div id="spinner" class="spinner"></div>

<!-- Banner -->
<div class="banner">
    <div class="banner-text">
        <h1><strong>{{ page.title }}</strong></h1>
        <p><span class="date"><time datetime="{{ page.date | date_to_xmlschema }}"><strong>{{ page.date | date_to_string }}</strong></time><strong>{% if page.author %} | {{ page.author }} {% endif %}</strong></span></p>
    </div>
</div>

{% if page.description %}
    <div class="container">
        <div class="c-page-heading">
            <p class="c-page-heading__description">{{ page.description }}</p>
        </div>
    </div>
{% endif %}
<!-- Finish page heading-->

<!-- Pig Gallery -->
<div class="pig-wrapper">
    <div id="pig"></div>
</div>

<!-- Include Vibrant.js from a CDN -->
<script src="https://cdn.jsdelivr.net/npm/node-vibrant/dist/vibrant.min.js"></script>

<!-- Include Pig Gallery script -->
<script type="text/javascript" src="../js/pig.js"></script>

<!-- Script for setting dynamic background color -->
<script type="text/javascript">
   document.addEventListener('DOMContentLoaded', function() {
        const spinner = document.getElementById('spinner');
        const bannerImageUrl = '{{ banner_image_url }}';
        const image = new Image();
        let hasLoaded = false;

        // Timeout 10s
        const loadTimeout = setTimeout(() => {
            if (!hasLoaded) {
                console.error('Banner image load timed out.');
                spinner.style.display = 'none';
            }
        }, 10000);

        image.crossOrigin = 'Anonymous';
        image.src = bannerImageUrl;
        image.onload = function() {
            clearTimeout(loadTimeout);
            hasLoaded = true;
            spinner.style.display = 'none';
            Vibrant.from(image).getPalette()
                .then(palette => {
                    let dominantColor = palette.Muted.rgb.map(value => Math.max(0, value - 20));
                    document.documentElement.style.setProperty('--gradient-color', `rgb(${dominantColor[0]}, ${dominantColor[1]}, ${dominantColor[2]})`);
                    const backgroundDiv = document.getElementById('background');
                    backgroundDiv.style.background = `radial-gradient(circle, var(--gradient-color) 0%, rgba(${dominantColor[0]}, ${dominantColor[1]}, ${dominantColor[2]}, 0.95) 10%, rgba(${dominantColor[0]}, ${dominantColor[1]}, ${dominantColor[2]}, 0.85) 20%, rgba(${dominantColor[0]}, ${dominantColor[1]}, ${dominantColor[2]}, 0) 100%)`;
                })
                .catch(err => {
                    console.error('Failed to get dominant color:', err);
                });
        };
        image.onerror = function() {
            clearTimeout(loadTimeout);
            hasLoaded = true;
            console.error('Failed to load the banner image.');
            spinner.style.display = 'none';
        };
    });
</script>
<br>
<!-- Pig Gallery initialization -->
<script type="text/javascript">
    var imageData = [
        {% for image in page.images %}
            {
                "thumbnail": "https://wsrv.nl/?h=600&url={{ image }}",
                "image1080": "https://wsrv.nl/?h=1080&url={{ image }}",
                "imageFull": "https://wsrv.nl/?url={{ image }}",
                "aspectRatio": 0 // Placeholder, will be calculated dynamically
            },
        {% endfor %}
    ];

    // Function to calculate aspect ratio
    function calculateAspectRatio(imageUrl, callback) {
        const img = new Image();
        img.src = imageUrl;
        img.onload = function() {
            const aspectRatio = img.width / img.height;
            callback(aspectRatio);
        };
        img.onerror = function() {
            console.error('Failed to load image for aspect ratio calculation:', imageUrl);
            callback(1); // Default to 1 if failed
        };
    }

    // Initialize Pig Gallery after calculating aspect ratios
    Promise.all(imageData.map(function(image, index) {
        return new Promise(function(resolve) {
            calculateAspectRatio(image.thumbnail, function(aspectRatio) {
                imageData[index].aspectRatio = aspectRatio;
                resolve();
            });
        });
    })).then(function() {
        var pig = new Pig(imageData, {
            urlForSize: function(imageUrls, sizewidth) {
                if (sizewidth <= 1080) {
                    return imageUrls.thumbnail;
                } else if (sizewidth <= 1920) {
                    return imageUrls.image1080;
                }
                return imageUrls.imageFull;
            },
            addAnchorTag: true,
            anchorTargetDir: "",
            anchorClass: "swipebox"
        }).enable();

        (function($) {
            $('.swipebox').swipebox();
        })(jQuery);
    });
</script>